.card-container {
	background-color: white;
	width: 300px;
	height: auto;
	border-radius: 14px;
	border: solid rgb(206, 206, 206) 1px;
	margin: 5px;
}

header {
	background:#0504aa;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.bg-card{
	background-image: url("../../public/images/c3lf.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-container img {
	position: inherit;
	width: 100px;
	height: 100px;
	border: solid rgb(206, 206, 206) 1px;
	border-radius: 50%;
	margin-top: 75px;
	margin-left: -175px;
}

.bold-text {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px 20px 0px 20px;
}

.normal-text {
	font-weight: normal;
	font-size: 0.95rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	padding-bottom: 10px;
}

/* SOCIAL STATS */
.smaller-text {
	font-weight: normal;
	font-size: 0.7rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.social-container {
	display: flex;
	border-top: solid rgb(206, 206, 206) 1px;
	text-align: center;
}

.followers {
	flex: 1;
}

.likes {
	flex: 1;
}

.photos {
	flex: 1;
}

.container, .cards-container{
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
